.pagination {
  display: flex;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  justify-content: center;
};

.dot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  & span {
    color: #ffffff;
  };
};

.page {
  display: flex;
  justify-content: space-between;
  width: 30px;
  height: 30px;
  padding: 5px 12px 5px 12px;
  & span {
    color: #ffffff;
  };
};

.active-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #DC56C5;
  border-radius: 10px 0px;
  & span {
    color: #DC56C5;
  };
};

