<section class="header-container">
  <container>
    <div class="overlay">
      <a href="#">
        <img src="images/logo-event-booster.png" alt="main logo" width="208px"/>
      </a>
      <div class="header-style">
        <h1 class="header-style-text">FIND BEST EVENTS AROUND THE WORLD</h1>
      </div>
      <div class="search-boxes">
        <input type="text" class="search-box" placeholder="Start searching"/>
        <button class="search-btn"></button>

        <div class="select-box">
          <div class="options-container"></div>
          <div class="selected" value="">Choose country</div>

          <div class="gradient"></div>
        </div>
      </div>
    </div>
  </container>
</section>
