<section class="header-container">
  <container>
    <a href="#">
      <img src="images/logo-event-booster.png" alt="main logo" width="208px" />
    </a>
    <div class="overlay">
      <div class="header-style">
        <header>FIND BEST EVENTS AROUND THE WORLD</header>
      </div>
      <div class="search-boxes">
        <input type="text" class="search-box" placeholder="Start searching" />
        <button class="search-btn"></button>
        <div class="select-box">
          <div class="options-container"></div>

          <div class="selected" value="">Choose country</div>
        </div>

        <div class="gradient"></div>
      </div>
    </div>
  </container>
</section>
